@page
@model Proiect_Selin_Robert_Cristian.Pages.SportsFacilities.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SportsFacility</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SportsFacility.SportsFacilityName" class="control-label"></label>
                <input asp-for="SportsFacility.SportsFacilityName" class="form-control" />
                <span asp-validation-for="SportsFacility.SportsFacilityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SportsFacility.Email" class="control-label"></label>
                <input asp-for="SportsFacility.Email" class="form-control" />
                <span asp-validation-for="SportsFacility.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SportsFacility.Phone" class="control-label"></label>
                <input asp-for="SportsFacility.Phone" class="form-control" />
                <span asp-validation-for="SportsFacility.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SportsFacility.Adress" class="control-label"></label>
                <input asp-for="SportsFacility.Adress" class="form-control" />
                <span asp-validation-for="SportsFacility.Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SportsFacility.CityID" class="control-label">City Name</label>
                <select asp-for="SportsFacility.CityID" class="form-control" asp-items="ViewBag.CityID"></select>
                <span asp-validation-for="SportsFacility.CityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
