@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="background: rgb(131,58,180); background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 22%, rgba(252,176,69,1) 46%, rgba(252,176,69,1) 67%, rgba(252,176,69,1) 71%); width:125%; margin-left: -170px; height: 890px; margin-top: -15px; margin-bottom: -15px;">
    <h1 class="display-4" style="padding-top: 200px;">Bun Venit</h1>
   @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
   <h2 class="display-4">Înregistrează-te pe site şi fă o rezervare în cateva momente!</h2>
</div>
